.idea
.vscode
assets
__pycache__
upbge-master/build_linux
upbge-master/lib
upbge-master/build_*

game/node_modules/*
!game/node_modules/mmap-io/

UPBGE-Unity/*
!UPBGE-Unity/Assets
!UPBGE-Unity/ProjectSettings
*.meta





